{% extends 'base.html' %}
{% block content %}

<h4>Please provide info to create new account:</h4>

<div class="contform">
  <form method="post" action="">
    <div class="field half">      
      {{ form.username }}
      {{ form.username.label }}
    </div>
    <div class="field half">      
      {{ form.email }}
      {{ form.email.label }}
    </div>
    <div class="field half">      
      {{ form.password }}
      {{ form.password.label }}
    </div>
    <div class="field half">      
      {{ form.password_confirm }}
      {{ form.password_confirm.label }}
    </div>
    <div class="centeredfield">
      {{ form.submit }}
    </div>
  </form>
</div>
{% endblock %}