{% extends 'base.html' %}
{% block content %}

<h4>Please provide info to create new account:</h4>

<div class="contform">
  <form method="post" action="">
    <div class="field half">      
      {{ form.username.label }}
      {{ form.username }}
    </div>
    <br />
    <div class="field half">      
      {{ form.email.label }}
      {{ form.email }}
    </div>
    <br />
    <div class="field half">      
      {{ form.password.label }}
      {{ form.password }}
    </div>
    <br />
    <div class="field half">      
      {{ form.password_confirm.label }}
      {{ form.password_confirm }}
    </div>
    <br />
    <div class="centeredfield">
      {{ form.submit }}
  </form>
</div>

{% endblock %}