{% extends 'base.html' %}
{% block content %}

<h3>Converted Video To Audio Files</h3>
<table>
    <thead>
        <tr>
            <th><h5>Audio File List</h5></th>
        </tr>
    </thead>
    <tbody>
        {% for fn in audiolist %}
        <tr>                                 
            <td> &#9830; &nbsp; <a href="/download/{{ auddir }}/{{ fn }}">{{ fn }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br />
<h3>Return to main page: &nbsp; <a href="/"> Home Page </a></h3>
{% endblock %}