{% extends 'base.html' %}
{% block content %}
  <!-- userupdate -->
  <h3>Edit Your Account</h3>
    <div class="inner">
      <table class="styled-table">
      <thead>
          <tr>
              <th>ID</th>
              <th>User Name</th>
              <th>Password</th>
              <th>Email</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody>
      {% for u in usr %}
        <tr>
          <td><code>{{ u.id }}</code></td>
          <td>{{ u.username }}</td>
          <td> ******* </td>
          <td>{{ u.email }}</td>
          <td><a href="#editModal{{ u.id }}" class="button submit">Edit</a></td>
          <td><a href="#delModal{{ u.id }}" class="button submit">(disabled)</a></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <div id="editModal{{ u.id }}" class="modalDialog">
          <div>
            <a href="#close" title="Close" class="close">X</a>
            <form method="post" action="#close"  onsubmit="return validatePassword()">
              <h3>Update Account</h3>
              <div class="fields">
                {{ form.uid(value=u.id) }}
                <div>
                  {{ form.username(value=u.username, readonly=true) }}
                  {{ form.username.label }}
                </div>
                <div>
                  {{ form.password }}
                  {{ form.password_confirm }}
                  <small>(blank if no change)</small>
                  {{ form.password.label }}
                </div>
                <div>
                  {{ form.email(value=u.email) }}
                  {{ form.email.label }}
                </div>
                <div>
                  <ul class="actions">
                    <li>
                      {{ form.submit }} &nbsp; &nbsp;
                      <a href="#close" class="button submit">Cancel</a>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      {% endfor %}
      </tbody>
      </table>
    </div>
{% endblock %}