{% extends 'base.html' %}
{% block content %}

<h3>Convert Videos To MP3 Audio Files</h3>

<form method="post" action="">
    <div class="contcenter">
        {{ form.videolink.label }}
        <div class="field half">
            {{ form.videolink(rows="4",cols="40") }}
        </div>
        <div class="field half">
            <br />
            Enter Path To Save Video Files: <br>
            {{ form.dirvid(type="text") }}<br />
            Enter Path To Save Audio Files: <br />
            {{ form.diraud(type="text") }}<br />          
        </div>
        <div class="centeredfield" id="btn">
            {{ form.submit(id="Button1", onclick="change();") }}
        </div>
            Please be patient as it will take about 20 seconds per video.<br />
        <script type="text/javascript">
            function change(){
                document.getElementById("Button1").value="Coverting, Please Wait...";
            }
        </script>

{% endblock %}